.boxdrop {
  width: 230px;
  margin: 15px;
}
.box_select {
  display: flex;
  height: 15px;
  padding: 12px 13px;
  border-radius: 10px; 
  border: 3px solid #000;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.font {
  color: #000;
  font-family: SF Pro;
  font-size: 21px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.sec_menu {
  position: relative;
  padding: 5px;
  margin-top: -20px;
  border-radius: 9px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}



.sec_menu .font {
  color: #5c5c5c;
  font-family: SF Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 480;
  line-height: normal;
}

.option {
  display: flex;
  height: 15px;
  font: 20px;
  cursor: pointer;
  padding: 12px 10px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.option:hover {
  background: #f2f2f2;
  color: #000000;
  
}
