@font-face {
  font-family: "SF PRO";
  src: url(../../font//SF-Pro.ttf) format("truetype");
  /* You can specify other font formats (e.g., woff, woff2) as needed */
}

body {
  margin: 0; /* Reset default body margin */
  padding: 0; /* Reset default body padding */
  position: relative;
}


.layOut {
  margin: auto;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start;
}
.secBox {
  width: 973px;
  height: 84px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0);
  background: rgba(209, 203, 203, 0.19);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
