@font-face {
  font-family: "SF PRO";
  src: url(../../font//SF-Pro.ttf) format("truetype");
  /* You can specify other font formats (e.g., woff, woff2) as needed */
}

.Managecourseframewindow {
  position: absolute;
  top: calc(60px );
  left: 50%;
  transform: translate(-50%,2.5%);
  width: 100vw;
  max-width: 98%;
  height: calc(63vh - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: width 0.4s ease, margin-left 0.4s ease;
  padding-block: 20px;
  border-bottom: 25px;
}


.Managecourseframewindow.shrink {
  width: calc(
    100vw - 30px
  ); 
  margin-left: 2px; 
}




.secBox {
  top: 18px;
  width: 99vw;
  max-width: 99%;
  height: 70px;
  flex-shrink: 0;
  font-size: 24px;
  flex-shrink: 0;
  display: flex;
  text-indent: 40px;
  align-items: center;
  vertical-align: bottom;
  border-radius: 15px;
  border: 3px solid rgba(204, 172, 172, 0);
  background: rgba(190, 184, 184, 0.19);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: translateX(5px);
}


.secBox:hover {
  background: #cfcfd2;
}

.secBox:first-child {
  margin-top: 5px;
}

.secBox:last-child {
  margin-bottom: 3px;
}

