@font-face {
  font-family: "SF PRO";
  src: url(../../font//SF-Pro.ttf) format("truetype");
  /* You can specify other font formats (e.g., woff, woff2) as needed */
}

.Managecourseframewindow {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%,2.5%);
  width: 95vw;
  max-width: 98%;
  height: calc(63vh - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: width 0.4s ease, margin-left 0.4s ease;
  padding-block: 20px;
  border-bottom: 25px;
}


.Managecourseframewindow.shrink {
  width: calc(
    100vw - 30px
  ); 
  margin-left: 2px; 
}




.secBox {
  top: 18px;
  width: 99vw;
  max-width: 99%;
  height: 70px;
  flex-shrink: 0;
  font-size: 24px;
  flex-shrink: 0;
  display: flex;
  text-indent: 40px;
  align-items: center;
  vertical-align: bottom;
  border-radius: 15px;
  border: 3px solid rgba(204, 172, 172, 0);
  background: rgba(190, 184, 184, 0.19);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: translateX(5px);
}


.secBox:hover {
  background: #cfcfd2;
}

.secBox:first-child {
  margin-top: 5px;
}

.secBox:last-child {
  margin-bottom: 3px;
}

.managePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.managePopupContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.8);
  height: fit-content;
  width: 390px;
  font-weight: 500;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.managePopupContentInner {
  background-color: #8084c8;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  height: 45px;
  width: 430px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  transform: translateY(-28px);
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}






