.sizeTa {
  width: 1200px;
  height: 200px;
  font-family: "SF PRo";
  
}

.colBig {
  width: 180px;
  text-align: center;
  background-color: #d0cdfe;
  font-family: "SF PRo";
  height: 100px;
}




.colSml {
  width: 45px;
  text-align: center;
  background-color: #d0cdfe;

}

.publicBT {
  width: 50px;
  height: 35px;
  border-radius: 15px;
  flex-shrink: 0;
  background-color: #6fbf77;
  display: flex;
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}

.manageBtDisplay{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    cursor: pointer;
}

.manageBT{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50px;
    height: 35px;
    border-radius: 15px;
    flex-shrink: 0;
}
.manageBT.logBT{
    background-color: #A5A2A2;
}

.manageBT.editBT{
    background-color: #FAAE49;
}

.manageBT.deleteBT{
    background-color: #E65F56;
}

.fontGlobal
{
  font-size: 28px;
}



