@font-face {
  font-family: 'SF PRo';
  src: url(./font/SF-Pro.ttf) format('truetype');
}

.c166courseframewindow {
  position: absolute;
  top: calc(130px + 50%); /* Center vertically with top offset */
  bottom: calc(10px + 50%); /* Center vertically with bottom offset */
  left: 50%;
  transform: translate(-50%,1%);
  width: 100vw;
  max-width: 96.6%;
  height: calc(77vh - 60px);
  overflow-y:auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 3px solid #696CA3;
  background: #FFF;
  transition: width 0.4s ease, margin-left 0.4s ease;
}

.c166framewindow-container {
  /* Your existing styles */
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}

.c166courseframewindow.shrink  {
  /* Your existing styles */
  align-items: center;
  width: calc(100vw - 340px); /* Reduce the width by the width of the sssidebar */
  margin-left: 142px; /* Move the framewindow to the right to accommodate the sssidebar */
}

.c166coursetopictext
{
  color: #696CA3;
  font-family: 'SF PRo', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 540;
  line-height: normal;
  transform: translate(32px, 20px);
  transition: transform 0.4s ease;
}

.c166datetext
{
    color: #696CA3;
    font-family: 'SF PRo', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    transform: translate(34px, 20px);
    transition: transform 0.4s ease;
}

.c166coursetopictext.move-right
{
    transform: translate(305px, 20px);
    transition: transform 0.4s ease; 
}
.c166datetext.move-right {
    transform: translate(310px, 20px);
  transition: transform 0.4s ease; 
}

.c166frameEachCourse {
  top: 18px;
  width: 99vw;
  max-width: 98%;
  height: 80px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #7579c1;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  text-indent: 40px;
  align-items: center;
  vertical-align: bottom;
}

.c166frameEachCourse:hover {
  top: 18px;
  width: 99vw;
  max-width: 98%;
  height: 80px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #575986;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  text-indent: 40px;
  align-items: center;
  vertical-align: bottom;
}

.c166frameEachCourse:first-child {
  margin-top: 18px;
}

.c166frameEachCourse:last-child {
  margin-bottom: 18px;
}

.c166courseName{
  color: #ffffff;
  text-align: center;
  font-family: 'SF PRo', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.c166intoCourse svg {
  position: absolute;
  right: 60px; 
  left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Prevent the icon from interfering with mouse events */
  margin-top: 0px;
}

.c166AddCourseButton {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #ffffff;
  align-self: center;
  bottom: 110px;
  cursor: pointer;
  font-family: "SF PRo";
  display: flex;
  justify-content: center;
  align-items: center;
  color:#7579c1;
  border: #7579c1 3px solid;
  text-indent: -5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 25px; 
  top: 125px; 
  
}

.c166AddCourseButton svg {
  position: absolute;
  left: 25px;
  top: 12px;
}

.c166AddCourseButton:hover  {
  background-color:#7579c1;
  color: #ffffff;
}

.c166AddCourseButton:hover svg{
  /* background-color: aqua; */
  fill: #ffffff;
}



