@font-face {
  font-family: 'SF PRo';
  src: url(./font/SF-Pro.ttf) format('truetype');
  /* You can specify other font formats (e.g., woff, woff2) as needed */
}

body {
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    position: relative; /* Make sure the body is relatively positioned */
  }
  
  
  .insDaframewindow {
    /* Your existing styles */
    position: absolute;
    top: calc(20px + 50%); /* Center vertically with top offset */
    bottom: calc(10px + 50%); /* Center vertically with bottom offset */
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 96.6%;
    height: calc(95vh - 85px);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    border-radius: 25px;
    border: 3px solid #696CA3;
    background: #FFF;
    transition: width 0.4s ease, margin-left 0.4s ease;
  }
  
  
  .insDaframewindow-container {
    /* Your existing styles */
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .insDaframewindow.shrink {
    /* Your existing styles */
    justify-content: center;
    align-items: center;
    width: calc(100vw - 340px); /* Reduce the width by the width of the sssidebar */
    margin-left: 142px; /* Move the framewindow to the right to accommodate the sssidebar */
  }

.insDastartstyle {
  color: #696CA3;
  text-align: center;
  font-family: 'SF PRo', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 690;
  line-height: normal;
}











