@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

body {
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    position: relative; /* Make sure the body is relatively positioned */
  }

  /* Add styles for the navbar and sidebar icon */
  .StuDaNavBar {
    position: relative;
    height: 80px;
    background: #8084C8;
    padding-left: 50px; /* Add some padding to the left for the icon */
  }
  
  .StuDaSidebar-icon {
    position: absolute;
    top: 45%;
    left: 30px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #8084C8;
  }
  

  
  .StuDacmulogo{
    position: absolute;
    top: 50%; /* Center the icon vertically within the navbar */
    left: 100px; /* Position the icon in the left corner */
    transform: translateY(-50%); /* Adjust to vertically center the icon properly */
    width: 120px; /* Change the width to resize the icon */
    height: 120px; /* Change the height to resize the icon */
    border-radius: 4px; /* Optional: Add border radius to make the border corners rounded */
  }
  
  .StuDahellostyle {
    position: absolute;
  
    right: 25px; /* Align to the right corner */
    color: #FFF;
    text-align: right;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Prompt', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 780;
    line-height: normal;
    transform: translateY(-30%);
  }
  
  .StuDarolestyle {
    position: absolute;
    top: 0px; /* Adjust the top position to place it below the hellostyle */
    right: 30px; /* Align to the right corner */
    color: #F7C878;
    text-align: right;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 610;
    line-height: normal;
    transform: translateY(120%);
  }