

@font-face {
  font-family: "SF PRo";
  src: url(../font/SF-Pro.ttf) format("truetype");
  /* You can specify other font formats (e.g., woff, woff2) as needed */
}

.stuCouListcourseframewindow {
  position: absolute;
  top: calc(125px + 50%); /* Center vertically with top offset */
  bottom: calc(10px + 50%); /* Center vertically with bottom offset */
  left: 50%;
  gap: 25px;
  transform: translate(-50%, -3%);
  width: 100vw;
  max-width: 96.6%;
  height: calc(79vh - 60px);
  overflow-y: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 3px solid #696ca3;
  background: #fff;
  transition: width 0.4s ease, margin-left 0.4s ease;
}

.stuCouListframewindow-container {
  /* Your existing styles */
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}

.stuCouListcourseframewindow.shrink {
  /* Your existing styles */
  align-items: center;
  width: calc(
    100vw - 340px
  ); /* Reduce the width by the width of the sssidebar */
  margin-left: 142px; /* Move the framewindow to the right to accommodate the sssidebar */
}

.stuCouListcoursetopictext {
  color: #696ca3;
  font-family: "SF PRo", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 540;
  line-height: normal;
  transform: translate(28px, 5px);
  transition: transform 0.4s ease;
}

.stuCouListdatetext {
  color: #696ca3;
  font-family: "SF PRo", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  transform: translate(30px, 8px);
  transition: transform 0.4s ease;
}

.stuCouListcoursetopictext.move-right {
  transform: translate(305px, 5px);
  transition: transform 0.4s ease;
}
.stuCouListdatetext.move-right {
  transform: translate(310px, 8px);
  transition: transform 0.4s ease;
}

.stuCouListframeEachCourse {
  top: 18px;
  width: 99vw;
  max-width: 98%;
  height: 80px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #7579c1;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  text-indent: 40px;
  align-items: center;
  vertical-align: bottom;
}

.stuCouListframeEachCourse:hover {
  flex-shrink: 0;
  background: #575986;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  vertical-align: bottom;
}

.stuCouListframeEachCourse:first-child {
  margin-top: 18px;
}

.stuCouListframeEachCourse:last-child {
  margin-bottom: 18px;
}

.stuCouListcourseName {
  color: #ffffff;
  text-align: center;
  font-family: "SF PRo", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
 
}

.stuCouListcourseSection {
  color: #F7C878;
  font-family: SF Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transform: translateY(7%);
  display: flex;
}

.stuCouListintoCourse svg {
  position: absolute;
  right: 60px;
  left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Prevent the icon from interfering with mouse events */
  margin-top: 13px;
  
}

.containerTitleDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: center; 
}

.boxTop {
  position: relative;
  top: -3px;
  left: 0;
  display: flex;
  z-index: 1;
}


@media screen and (max-width: 2600px) {
  .stuCouListcourseframewindow {
    width: 99%;
    height: calc(75vh - 20px);
    top: 240px;
    gap: 26px
  }

  .stuCouListcoursetopictext {
    font-size: 58px;
    margin-top: 6px;
  }

  .stuCouListdatetext {
    font-size: 38px;
    margin-top: -6px;
  }

  .stuCouListframeEachCourse {
    width: 95vw;
    height: 110px;
    text-indent: 24px;
  }

  .stuCouListcourseName {
    font-size: 32px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 26px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 1650px) {
  .stuCouListcourseframewindow {
    width: 96%;
    height: 73vh;
    top: 195px;
    gap: 20px
  }

  .stuCouListcoursetopictext {
    font-size: 42px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 30px;
    margin-top: -6px;
  }

  .stuCouListframeEachCourse {
    width: 94vw;
    height: 85px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 28px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 20px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 1400px) {
  .stuCouListcourseframewindow {
    width: 96%;
    height: 72vh;
    top: 190px;
    gap: 20px
  }

  .stuCouListcoursetopictext {
    font-size: 38px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 28px;
    margin-top: -6px;
  }

  .stuCouListframeEachCourse {
    width: 94vw;
    height: 80px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 26px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 18px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 1100px) {
  .stuCouListcourseframewindow {
    width: 92%;
    height: 82vh;
    top: 200px;
    gap: 20px
  }

  .stuCouListcoursetopictext {
    font-size: 38px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 28px;
    margin-top: -6px;
  }

  .stuCouListframeEachCourse {
    width: 88vw;
    height: 75px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 22px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 16px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 850px) {
  .stuCouListcourseframewindow {
    width: 92%;
    height: calc(80vh - 20px);
    top: 200px;
    gap: 20px
  }

  .stuCouListcoursetopictext {
    font-size: 38px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 28px;
    margin-top: -6px;
  }

  .stuCouListframeEachCourse {
    width: 88vw;
    height: 75px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 22px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 16px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 780px) {
  .stuCouListcourseframewindow {
    width: 92%;
    height: 80vh;
    top: 200px;
    gap: 20px
  }

  .stuCouListcoursetopictext {
    font-size: 38px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 28px;
    margin-top: -6px;
  }

  .stuCouListframeEachCourse {
    width: 88vw;
    height: 75px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 22px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 16px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 628px) {
  .stuCouListcourseframewindow {
    width: 92%;
    height: calc(79vh - 60px);
    top: 180px;
    gap: 15px
  }

  .stuCouListcoursetopictext {
    font-size: 32px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 22px;
    margin-top: -6px;
  }

  .stuCouListframeEachCourse {
    width: 88vw;
    height: 58px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 14px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 13px; /* Adjust font size for smartphones */
  }
}

/* Media query for smartphones */
@media screen and (max-width: 540px) {
  .stuCouListcourseframewindow {
    width: 92%;
    height: calc(79vh - 60px);
    top: 180px;
    gap: 15px
  }

  .stuCouListcoursetopictext {
    font-size: 32px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 22px;
    margin-top: -4px;
  }

  .stuCouListframeEachCourse {
    width: 88vw;
    height: 58px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 14px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 13px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 375px) {
  .stuCouListcourseframewindow {
    width: 92%;
    height: 74vh;
    top: 170px;
    gap: 15px
  }

  .stuCouListcoursetopictext {
    font-size: 30px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 20px;
    margin-top: 0px;
  }

  .stuCouListframeEachCourse {
    width: 87vw;
    height: 55px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 13px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 12px; /* Adjust font size for smartphones */
  }
}

@media screen and (max-width: 320px) {
  .stuCouListcourseframewindow {
    width: 92%;
    height: 74vh;
    top: 170px;
    gap: 15px
  }

  .stuCouListcoursetopictext {
    font-size: 30px;
    margin-top: 2px;
  }

  .stuCouListdatetext {
    font-size: 20px;
    margin-top: 0px;
  }

  .stuCouListframeEachCourse {
    width: 87vw;
    height: 55px;
    text-indent: 12px;
  }

  .stuCouListcourseName {
    font-size: 11px; /* Adjust font size for smartphones */
  }

  .stuCouListcourseSection {
    font-size: 10px; /* Adjust font size for smartphones */
  }
}