
@font-face {
    font-family: 'SF PRO';
    src: url(./font/SF-Pro.ttf) format('truetype');
    /* You can specify other font formats (e.g., woff, woff2) as needed */
  }

body {
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    position: relative; /* Make sure the body is relatively positioned */
  }
  
  /* Add styles for the navbar and sidebar icon */
  .uploadScorenavbar {
    position: relative;
    height: 80px;
    background: #8084C8;
    padding-left: 50px; /* Add some padding to the left for the icon */
  }
  
  .uploadScoresidebar-icon {
    position: absolute;
    top: 45%;
    left: 30px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #8084C8;
  }
  

  
  .uploadScorecmulogo{
    position: absolute;
    top: 50%; /* Center the icon vertically within the navbar */
    left: 100px; /* Position the icon in the left corner */
    transform: translateY(-50%); /* Adjust to vertically center the icon properly */
    width: 120px; /* Change the width to resize the icon */
    height: 120px; /* Change the height to resize the icon */
    border-radius: 4px; /* Optional: Add border radius to make the border corners rounded */
  }
  
  .uploadScorehellostyle {
    position: absolute;
  
    right: 25px; /* Align to the right corner */
    color: #FFF;
    text-align: right;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'SF PRo', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 780;
    line-height: normal;
    transform: translateY(-40%);
  }
  
  .uploadScorerolestyle {
    position: absolute;
    top: 0px; /* Adjust the top position to place it below the hellostyle */
    right: 30px; /* Align to the right corner */
    color: #F7C878;
    text-align: right;
    font-family: 'SF PRo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 610;
    line-height: normal;
    transform: translateY(120%);
  }

  .uploadScorecourseframewindow {
    position: absolute;
    top: calc(120px + 50%); /* Center vertically with top offset */
    bottom: calc(10px + 50%); /* Center vertically with bottom offset */
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 96.6%;
    height: calc(69vh - 60px);
    justify-content: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 3px solid #696CA3;
    background: #FFF;
    transition: width 0.4s ease, margin-left 0.4s ease;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .uploadScoreframewindow-container {
    /* Your existing styles */
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row;

  }
  
  .uploadScorecourseframewindow.shrink  {
    /* Your existing styles */
    justify-content: center;
    width: calc(100vw - 340px); /* Reduce the width by the width of the sssidebar */
    margin-left: 142px; /* Move the framewindow to the right to accommodate the sssidebar */
  }



.uploadScorestartstyle {
  color: #696CA3;
  text-align: center;
  font-family: 'SF PRo', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.uploadScoresssidebar {
  position: fixed;
  top: 80px; /* Position the sidebar below the navbar with 80px distance from the top */
  left: -300px; /* Initially hide the sidebar off the left side of the screen */
  width: 280px; /* Adjust the width as needed */
  height: 100%; /* Set the maximum height based on the distance from the top */
  z-index: 0; /* Set z-index to 0 to place it behind the framewindow */
  display: flex;
  background-color: #ffffff; /* Set a background color */
  transition: left 0.4s ease; /* Apply a smooth transition for the left property */
  flex-direction: column; /* Arrange items vertically */
  justify-content: space-between; /* Push items to the top and bottom */
}

.uploadScoresssidebar.show {
  left: 0; /* Slide the sidebar in from the left side when the "show" class is added */
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25); /* Apply the drop shadow */
}



.uploadScoreprofilebutton
{
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #000000;
  align-self: center;
  position: absolute;
  bottom: 175px;
  font-family: 'SF PRo', sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-indent: -15px;
  font-size: 18px;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 0.3s ease;
}

.uploadScoreprofilebutton:hover {
  background: #ffffff; /* Change background color to white on hover */
  color: #000000; /* Change text color to black on hover */
  box-shadow: inset 0 0 0 2px #000000;
}

.uploadScoreprofilebutton svg {
  position: absolute;
  left: 30px;
}

.uploadScoreprofilebutton:hover svg {
  filter: invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(0) contrast(100); /* Set the filter to turn the SVG black */
}


.uploadScorelogoutbutton
{
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #ED4040;
  align-self: center;
  position: absolute;
  bottom: 110px; 
  cursor: pointer;
  font-family: 'SF PRo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-indent: -5px; 
  font-size: 18px;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 0.3s ease;
}

.uploadScorelogoutbutton svg {
  position: absolute;
  left: 30px;
}

.uploadScorelogoutbutton:hover {
  background: #ffffff;
  color: #ED4040;
  box-shadow: inset 0 0 0 2px #ED4040;
}

.uploadScorelogoutbutton:hover svg {
  filter: invert(96%) sepia(100%) saturate(75000%) hue-rotate(355deg) brightness(90%) contrast(100%);
  /* Set the filter to turn the SVG red on hover */
}

.uploadScoreframeCourseInSideBar {
  position: absolute;
  display: flex;
  width: 220px;
  height: 308px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: center;
  top: 25px
}

.uploadScorecoursebutton
{
  width: 200px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #ffffff;
  bottom: 110px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-indent: -15px; 
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.uploadScorecoursebutton svg{
  position: absolute;
  left: 20px;
}

.uploadScorecoursebutton:hover {
  background: #d9d9e5;
  color: #000000;
 
}

.uploadScorepurple-button {
    background-color: #b6b8e6;
    color: rgb(0, 0, 0);
  }

.uploadScorecoursetopictext
{
  color: #696CA3;
  font-family: 'SF PRo', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 540;
  line-height: normal;
  transform: translate(62px, 6px);
  transition: transform 0.4s ease;
}

.uploadScoredatetext
{
    color: #696CA3;
    font-family: 'SF PRo', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    transform: translate(65px, 4px);
    transition: transform 0.4s ease;
}

.uploadScorecoursetopictext.move-right
{
    transform: translate(340px, 6px);
    transition: transform 0.4s ease; 
}
.uploadScoredatetext.move-right {
    transform: translate(342px, 4px);
    transition: transform 0.4s ease; 
}

.uploadScoreTextNavigate
{
    color: #696CA3;
    font-family: 'SF PRo', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 540;
  line-height: normal;
  transform: translate(30px, 10px);
  transition: transform 0.4s ease;
}

.uploadScoreTextNavigate.move-right
{
    transform: translate(305px, 9px);
    transition: transform 0.4s ease; 
}

.uploadScoreLine {
    transform: translate(-8px, 8px);
    transition: transform 0.3s ease; /* Add a smooth transition */
  }
  
.uploadScoreLine.move-right {
  transform: translate(275px, 8px); /* Adjust the translation value as needed */
  width: 74%;
}

.uploadScoreText{
  color: #696CA3;
  font-family: SF Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
  margin-left: 40px;
}

.uploadScoreTextBox {
  padding: 8px;
  border: 2px solid #696CA3;
  background-color: #eeecec;
  border-radius: 3px;
  font-family: SF Pro;
  width: calc(68.5%);
  font-size: 16px;
  transform: translateX(20px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.uploadScoreInlineContainer.move-right .uploadScoreTextBox {
  transition: transform 0.3s ease;
}

.uploadScoreInlineContainer {
  display: flex; /* Use flexbox to align items in a row */
  align-items: center;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
  margin-top: -15px;
}

.uploadScoreFileDescription {
  font-size: 18px;
  color: #000000;
  font-family: SF Pro;
  transition: transform 0.3s ease;
  margin-top: 0px;
}

.uploadScoreDescriptionBox {
  padding: 12px;
  border: 1px  ;
  background-color: #faedca;
  border-radius: 5px;
  font-family: SF Pro;
  width: calc(57.7vw); 
  height: calc(1vh + 60px);
  font-size: 16px;
  margin-left: 220px;
  margin-top: -20px;
  margin-bottom: 20px;
  transition: width 0.3s ease;
  justify-content: center;
  align-items: center;
}

.uploadScoreDescriptionBox.move-right {
  width: calc(52.5vw); /* Use viewport width */
  height: calc(1vh + 60px);
  transition: width 0.3s ease;
}

.uploadScoreCancelButton{
  transform: translate(40px,45px);
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px;
  border: #cd5340 solid 2px;
  background: #ffffff;
  bottom: 110px; 
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-indent: -35px; 
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.uploadScoreCancelButtonInner{
  width: 45px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 0px 10px 10px 0px;
  background: #D13E10;
  bottom: 110px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-indent: -15px; 
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.uploadScoreCancelButton:hover {
  background: #D13E10;
  transition: background-color 0.3s ease;
}

.uploadScoreCancelButton:hover .uploadScoreCancelText {
  color: #ffffff; 
}

.uploadScoreCancelText {
  position: absolute;
  right: 60px;
  margin: 0;
  font-weight: 700;
  color: #cd5340;
  transition: color 0.3s ease;
}

.uploadScoreConfirmButton{
  transform: translate(60px,45px);
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px;
  border: #1b7744 solid 2px ;
  background: #ffffff;
  bottom: 110px; 
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-indent: -35px; 
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.uploadScoreConfirmButtonInner{
  width: 45px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 0px 10px 10px 0px;
  background: #23834b;
  bottom: 110px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-indent: -15px; 
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.uploadScoreConfirmText{
  position: absolute;
  right: 60px;
  margin: 0;
  
  font-weight: 700; 
  color: #23834b;
  transition: color 0.3s ease;
}

.uploadScoreConfirmButton:hover {
  background: #23834b;
  transition: background-color 0.3s ease;
}

.uploadScoreConfirmButton:hover .uploadScoreConfirmText {
  color: #ffffff; 
}



