body {
  font-family: 'Roboto', sans-serif;
}

/* Add styles for the navbar and sidebar icon */
.navbar {
  position: relative;
  height: 117px;
  background: #8084C8;
  padding-left: 50px; /* Add some padding to the left for the icon */
}

.sidebar-icon {
  position: absolute;
  top: 50%; /* Center the icon vertically within the navbar */
  left: 40px; /* Position the icon in the left corner */
  transform: translateY(-50%); /* Adjust to vertically center the icon properly */
  width: 58px; /* Change the width to resize the icon */
  height: 58px; /* Change the height to resize the icon */
  border-radius: 4px; /* Optional: Add border radius to make the border corners rounded */
  background-color: #8084C8;
}

.cmulogo{
  position: absolute;
  top: 50%; /* Center the icon vertically within the navbar */
  left: 120px; /* Position the icon in the left corner */
  transform: translateY(-50%); /* Adjust to vertically center the icon properly */
  width: 180px; /* Change the width to resize the icon */
  height: 180px; /* Change the height to resize the icon */
  border-radius: 4px; /* Optional: Add border radius to make the border corners rounded */
}

.hellostyle {
  position: absolute;
  top: -5px;
  right: 40px; /* Align to the right corner */
  color: #FFF;
  text-align: right;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;

}

.rolestyle {
  position: absolute;
  top: 42px; /* Adjust the top position to place it below the hellostyle */
  right: 40px; /* Align to the right corner */
  color: #F7C878;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}




